{% extends 'base.html' %}

{% block title %}关于{% endblock %}

{% block body %}
    <h2 style="text-align: center; margin: 30px;">关于</h2>
    <div class="container">
        <div class="row">
            <div class="col-12" style="margin: 30px;">
                <p>
                    主要维护者：kunkun <br/>
                    邮箱：mailkunkun@qq.com
                </p>
                <p style="margin: 10px">
                    一些链接： <br>
                    <a href="https://gitee.com/gitkunkun/sja-bin">sja源码的打包仓库</a><br>
                    <a href="https://github.com/GuYan1024/SJA">sja源码仓库</a><br>
                    <a href="https://gitee.com/gitkunkun/SJA">sja源码仓库(国内镜像)</a><br>
                    <a href="https://gitee.com/gitkunkun/sjaweb">sja的web版</a><br>
                    <a href="https://www.aerfaying.com/Projects/512945">sja的scratch版</a>
                </p>
            </div>
            <div class="col-12" style="margin: 30px;">
                <a href="{{ url_for('sjaweb.index') }}" class="btn btn-info float-left">返回分析器</a>
            </div>
        </div>
    </div>
{% endblock %}