<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Scratch程序分析器{% endblock %}</title>
    <link rel="icon" href="{{ url_for('static', filename='sjaweb/favicon.ico') }}">

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.6.16/dist/css/uikit.min.css" />
    <style>
        #footer {
            font-size: 10px;
            text-align: center;
            color: grey;
            border-top: 1px solid #ddd;
            padding-top: 20px;
            margin-top: 50px;
        }
    </style>
    {% block head %}

    {% endblock %}
    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.16/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.16/dist/js/uikit-icons.min.js"></script>

    <script src="{{ url_for('static', filename='echarts.min.js') }}"></script>
</head>

<body>
<!-- nav -->
<nav class="uk-navbar-container uk-container" uk-navbar>
    <!-- <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link text-primary" style="font-size: 20px;" href="{{ url_for('sjaweb.index') }}">
                scratch分析器
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('sjaweb.help_page') }}" style="margin: 2px;">帮助</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('sjaweb.about') }}" style="margin: 2px;">关于</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"
               href="https://gitee.com/gitkunkun/sja-bin"
               style="margin: 2px"
               target="_blank"
               data-toggle="tooltip"
               title="下载离线版本！"
            >
                下载
            </a>
        </li>
        <li class="nav-item">
            <a target="_self"
               class="nav-link"
               style="margin: 2px;"
               href="{{ url_for('sjaweb.load_url') }}"
               data-toggle="tooltip"
               title="分析一个发布在kada社区的scratch3程序">
                从kada获取
            </a>
        </li>
        <li class="nav-item">
            <a target="_blank"
               class="nav-link"
               style="margin: 2px;"
               href="https://kada.163.com/project/v3/create.htm?utm_source=&utm_medium=nav_button&utm_campaign=business&utm_content=sc"
               data-toggle="tooltip"
               title="可以实现scratch2转scratch3哦！">
                在线编辑器
            </a>
        </li>
    </ul> -->
    <div class="uk-navbar-left">
        <a class="uk-navbar-item uk-logo uk-active" href="/">SJA</a>
        <ul class="uk-navbar-nav">
            <li><a href="{{ url_for('sjaweb.help_page') }}">帮助</a></li>
            <li><a href="{{ url_for('sjaweb.about') }}">关于</a></li>
            <li><a href="https://gitee.com/gitkunkun/sja-bin" target="_blank">下载</a></li>
            <li><a href="{{ url_for('sjaweb.load_url') }}" target="_blank">从Kada获取</a></li>
            <li><a href="https://kada.163.com/project/v3/create.htm?utm_source=&utm_medium=nav_button&utm_campaign=business&utm_content=sc" target="_blank">在线编辑器</a></li>
        </ul>
    </div>
</nav>

<div style="margin: 20px">
    {% for message in get_flashed_messages(with_categories=True) %}
        <div class="alert uk-alert-{{ message[0] }}" uk-alert style="margin: 10px">
            {{ message[1] }}
            <a class="uk-alert-close" uk-close></a>
        </div>
    {% endfor %}
</div>
{% block body %}
{% endblock %}
<div>
    <div id="footer" class="float-none" style="margin-bottom: 20px">
        <a href="https://gitee.com/gitkunkun"
           style="color: grey"
           title="Hello!">
           kunkun
        </a> /
        <a href="https://gitee.com/gitkunkun/SJA" style="color: grey">源码仓库</a>
    </div>
</div>
</body>

</html>