{% extends 'base.html' %}

{% block title %}
    从kada导入
{% endblock %}

{% block body %}
    <div class="uk-container">
        <h2 style="text-align: center; margin: 50px;">从kada社区加载程序并分析</h2>
    </div>
    <form method="post" class="uk-form-stacked">
        <div class="uk-container">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <div class="uk-margin" id="url_input_group">
                {{ form.url.label(class="uk-form-label") }}
                {{ form.url(class='uk-input') }}
            </div>
            {{ form.submit(class='uk-button uk-button-primary') }}
        </div>
    </form>
{% endblock %}

